.sprite-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  left: var(--left);
  top: var(--top);
  transform: var(--transform);
  color: var(--color);

  .sprite {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--backgroundImage);
    background-position: center;
    width: var(--width);
    height: var(--height);
    filter: var(--filter);
  }

  .username {
    position: absolute;
    top: 0;
    padding: 4px 8px;
    color: var(--color);
    background-color: #18181a;
    transform: var(--usernameTransform);
  }

  .message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    top: -660px;
    height: 600px;
    transform: var(--messageTextTransform);

    .message-text {
      bottom: 0;
      background-color: #ffffff;
      border-radius: 10px 10px 0 10px;
      padding: 10px;
      opacity: var(--opacity);
    }
  }
}
